@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  overflow-x:hidden;
}
.homepage_bg {
  background: url("../src/assets/Images/bghome.svg");
}
button:hover .star{
  display:block;
  filter:drop-shadow(0 0 10px #fffdef);
}